/*
common settings
 */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}
a {
    text-decoration: none;
}

section {
    position: relative;
    display: block;
    box-sizing: border-box;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.content-wr {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.row{
    flex-direction: row;
    justify-content: center;
    margin: 20px 0 20px 0;
}
/*
main styles of section, content wrapper, inputs, button, and outputs list
 */

#main{
    min-height: 100vh;
    background: url(../img/bg.jpg) center no-repeat fixed ;
    background-size: cover;
}
#main .content-wr{
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    min-height: 100vh;
    font-family: "Times New Roman", serif;
    color: white;
    font-size: 20px;
}
/*
help style
 */
#help{
    margin: 0;
    position: fixed;
    top: 10px;
    right: 10px;
}

#helpText{
    box-sizing: border-box;
    justify-content: space-around;
    display: none;
    position: absolute;
    width: 100%;
    padding: 30px;
    background: rgba(242, 118, 143, 0.9);
    color: black;
    transition: all 0.5s ease;
    border: 1px solid transparent;
    border-radius: 5px;
    z-index: 99;
    box-shadow: inset 0 0 15px 0 rgba(255,255,255,0.8);
    animation: zoomIn 1s forwards;
}
#closeHelp{
    color: red;
    font-weight: bold;
}
/*
end Help block style
 */
#myInput{
    box-sizing: border-box;
    width: 50%;
    height: 35px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #f4f4f4;
    font-size: 16px;
    padding-left: 10px;
    font-family: Verdana, sans-serif;
}
/*
common button style
 */
.button{
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 5px;
    padding: 9px;
    transition: 0.5s;
    margin: 0 20px 0 20px;
}
.button:hover{
    font-size: 22px;
}
/*
List Style
 */
ul {
    max-width: 1200px;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding: 0;
    margin: 0 -15px;
    justify-content: center;
}
ul li {
    flex-direction: column;
    justify-content: space-around;
    background: rgba(2, 82, 242, 0.5) no-repeat center;
    background-size: cover;
    min-height: 208px;
    min-width: 208px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 26px;
    letter-spacing: 1px;
    transition:all 0.5s ease;
    user-select: none;
    margin: 15px;
    border: 1px solid transparent;
    border-radius: 7%;
    list-style-type:none;
    padding: 15px;
    box-shadow: inset 0 0 15px 0 rgba(255,255,255,0.8);
    animation: zoomIn 1s forwards;
}
ul li:hover{
    background: rgba(2, 82, 242, 0.8) no-repeat center;
    letter-spacing: 1px;
}
ul li.checked{
    color: #aaaaaa;
    text-decoration: line-through;
}
/*
animation of add and close blocks
 */
@keyframes zoomIn {
    from{
        transform: scale(0,0);
    }
    to{
        transform: scale(1,1);
    }
}
.zoomOut{
    animation: zoomOut 1s forwards;
}
@keyframes zoomOut {
    from{
        transform: scale(1,1);
    }
    to{
        transform: scale(0,0);
    }
}
/*
end animation
 */

.close {
    margin: 0 auto;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 7%;
    width: 50px;
    height: 35px;
    background: rgba(2, 82, 242, 1) no-repeat center;
    transition: all 0.5s ease;
    font-size: 29px;
}
.close:hover{
    color: black;
    background-color: rgb(223, 0, 83);
    transition: all 0.5s ease;
}
#alert{
    color: red;
    margin: 10px;
    font-size: 22px;
}
.cost{
    margin: 12px 16px 12px 16px;
    color: #f78080;
}
#total{
    font-size: 26px;
    margin-bottom: 25px;
}
/*
RWD fixes for better view in smaller screens
 */
@media screen and (max-width: 1024px) {
    ul li {
        min-width: 185px;
    }
}
@media screen and (max-width: 600px) {
    ul li {
        min-width: 300px;
    }
    .content-wr {
        max-width: 100%;
    }
    #myInput {
        width: 70%;
    }
}